# Enable URL rewriting
RewriteEngine On

# Set the base directory
RewriteBase /

# Redirect to index.php if the file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# PHP settings
php_flag display_errors on
php_value error_reporting E_ALL 